.logo {
    margin: 0 auto;
    max-width: 800px;
    width: 90%;
    padding: 0;
    border: 0;
    display: block;
    text-align: center;
    font-size: 300%;
    width: 670px;
    border-radius: 50% 20px;
    border-style: dashed;
    
    float: right
}

.subtitulo1 {
   padding: auto;
   position: absolute;

}